/nvim/.config/nvim/plugin

/emacs/.yash-emacs/straight
/emacs/.yash-emacs/history
/emacs/.yash-emacs/eshell
/emacs/.yash-emacs/transient
/emacs/.yash-emacs/.cache
/emacs/.yash-emacs/ede-projects.el
/emacs/.yash-emacs/eln-cache
/emacs/.yash-emacs/projects
/emacs/.yash-emacs/.dap-breakpoints
/emacs/.yash-emacs/forge-database.sqlite

# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
dist/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# projectiles files
.projectile

# directory configuration
.dir-locals.el

# network security
/network-security.data
